* {padding: 0; margin: 0;
}

#logo, h1, h2, h3, h4, h5 {font-family: "Ubuntu Condensed", sans-serif;
}

.card-img-top {transition: all 0.2s ease-in;
}

.card-img-top:hover {transform: scale(110%);
}

main {background-image: url("./background.jpg");
background-size: cover; 
background-position: center;
}